<!-- Footer-Inhalt -->
<section>
  <div class="container mx-auto">
    {% for block in section.blocks %}
      {% case block.type %}
        {% when '@app' %}
          <div class="flex-1">{% render block %}</div>
      {% endcase %}
    {% endfor %}
    <div class="flex flex-wrap gap-20">
      {% for block in section.blocks %}
        {% case block.type %}
          {% when 'link_list' %}
            {% if block.settings.menu != blank %}
              <div class="flex-1">
                <p class="lexendXL pb-2">{{ block.settings.heading }}</p>
                <ul>
                  {% for link in block.settings.menu.links %}
                    <li class="py-1">
                      <a href="{{ link.url }}">{{ link.title }}</a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            {% endif %}
            {%- when 'brand_information' -%}
              <div class="">
                {%- if settings.brand_image != blank -%}
                  {%- assign brand_image_height = settings.brand_image_width
                    | divided_by: settings.brand_image.aspect_ratio
                  -%}
                  <div
                    class=""
                    style="max-width: min(100%, {{ settings.brand_image_width }}px);"
                  >
                    {{
                      settings.brand_image
                      | image_url: width: 1100
                      | image_tag:
                        loading: 'lazy',
                        widths: '50, 100, 150, 200, 300, 400, 550, 800, 1100',
                        height: brand_image_height,
                        width: settings.brand_image_width
                    }}
                  </div>
                {%- endif -%}
                {%- if settings.brand_headline != blank -%}
                  <h3 class="lexendXL lexendDeca pb-2">{{ settings.brand_headline }}</h3>
                {%- endif -%}
                {%- if settings.brand_description != blank -%}
                  <div class="">{{ settings.brand_description }}</div>
                {%- endif -%}
                {%- if block.settings.show_social -%}
                  {% comment %} {%- render 'social-icons', class: 'footer__list-social' -%} {% endcomment %}
                {%- endif -%}
              </div>
          {% else %}

        {% endcase %}
      {% endfor %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Footer",
  "blocks": [
    {
      "type": "@app"
    },
    {
      "type": "link_list",
      "name": "Menü",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "label": "Titel",
          "default": "Menü"
        },
        {
          "type": "link_list",
          "id": "menu",
          "label": "Menüpunkte",
          "default": "footer"
        }
      ]
    },
    {
      "type": "brand_information",
      "name": "Brand Information",
      "settings": [
        {
          "type": "paragraph",
          "content": "Paragraph"
        },
        {
          "type": "header",
          "content": "Header"
        },
        {
          "type": "checkbox",
          "id": "show_social",
          "default": true,
          "label": "Show Social Media Icons",
          "info": "Show social media icons in the footer"
        }
      ]
    }
  ]
}
{% endschema %}
