<div class="container mx-auto">
  <product-category-preview class="mt-6 grid grid-cols-2 gap-x-4 gap-y-10 sm:gap-x-6 md:grid-cols-4 md:gap-10 lg:gap-x-8">
    {% for collection in collections %}
      {% assign lazy_load = false %}
      {%- if forloop.index > 2 -%}
        {%- assign lazy_load = true -%}
      {%- endif -%}

      <div class="product-card relative group">
        <div class="aspect-h-6 aspect-w-6 w-full overflow-hidden rounded-[1.25rem] group-hover:scale-[1.01] group-hover:drop-shadow-xl transition-all duration-500 ease-in-out">
          <img
            class="h-full w-full object-cover object-center hover:scale-[1.01] hover:drop-shadow-xl transition-all duration-500 ease-in-out"
            src="{{ collection.featured_image.src | image_url: width: 1445 }}"
            height="{{ collection.featured_image.height }}"
            width="{{ collection.featured_image.width }}"
            alt="{{ collection.title }}"
            {% if lazy_load %}
              loading="lazy"
            {% endif %}
          >
        </div>
        <p class="mt-4">
          <a href="{{ collection.url }}">
            <span class="absolute inset-0"></span>
            <p class="text-[1.25rem]">{{ collection.title }}</p>
          </a>
        </p>
        {% comment %} <p style="font-size: 2.5rem;" class="mt-1 h5">{{ collection.price | money_with_currency }}</p> {% endcomment %}
      </div>
    {% endfor %}
  </product-category-preview>
</div>
