<script src="{{ 'cartGrid.js' | asset_url }}" defer></script>

<section>
  <div class="container mb-24 flex flex-col-reverse md:flex-row justify-between items-center gap-8 md:gap-0">
    <div class="max-w-6xl">
      <h1 class="h2">{{ collection.title }}</h1>
      <p class="mt-2">{{ collection.description }}</p>
    </div>
    {% if collection.image != blank %}
      <div class="collection-image w-64 h-64">
        <img
          src="{{ collection.image.src | image_url: width: 1445 }}"
          width="{{ collection.image.width }}"
          alt="{{ collection.title }}"
          height="{{ collection.image.height }}"
          class="w-full h-full object-contain object-center"
          loading="eager"
        >
      </div>
    {% endif %}
  </div>
  <div class="container mx-auto">
    <product-category-preview class="mt-6 grid grid-cols-2 gap-x-4 gap-y-10 sm:gap-x-6 md:grid-cols-4 md:gap-10 lg:gap-x-8">
      {% for product in collection.products %}
        {% assign lazy_load = false %}
        {%- if forloop.index > 2 -%}
          {%- assign lazy_load = true -%}
        {%- endif -%}

        <div class="product-card relative group">
          <div class="aspect-h-6 aspect-w-6 w-full overflow-hidden rounded-[1.25rem] group-hover:scale-[1.01] group-hover:drop-shadow-xl transition-all duration-500 ease-in-out">
            <img
              class="h-full w-full object-cover object-center"
              src="{{ product.featured_image.src | image_url: width: 1445 }}"
              height="{{ product.featured_image.height }}"
              width="{{ product.featured_image.width }}"
              alt="{{ product.title }}"
              {% if lazy_load %}
                loading="lazy"
              {% endif %}
            >
          </div>
          <p class="mt-4">
            <a href="{{ product.url }}">
              <span class="absolute inset-0"></span>
              <p class="text-[1.25rem]">{{ product.title }}</p>
            </a>
          </p>
          <p class="text-[1.25rem] mt-2 font-semibold">
          {{ product.vendor }}
          </p>
          <p class="mt-1">
            {% if product.price_varies == true %}
              {% assign money_price = product.price | money_with_currency %}
              <span class="text-[1.25rem]">
                {{- 'products.product.price.from_price_html' | t: price: money_price | split: ' ' | first -}}
              </span>
              <span>{{ money_price }}</span>
            {% else %}
              {{ product.price | money_with_currency }}
            {% endif %}
          </p>
        </div>
      {% endfor %}
    </product-category-preview>
  </div>
</section>
