<section>
  <div class="container mx-auto py-32 sm:py-48 lg:py-56">
    <img class="mx-auto pb-24" src="{{ shop.brand.logo.src | image_url: width: 1445 }}" height="{{ shop.brand.logo.height }}" width="{{ shop.brand.logo.width }}" alt="{{ shop.brand.logo.alt }}" loading="eager">
    {% form 'storefront_password' %}
      <div class="flex flex-col items-center">
        {{ form.errors | default_errors }}
        <div class="password">
          <label for="password">Password</label>
          <input class="border-b-2 border-dashed border-[var(--Black)] outline-none" type="password" name="password">
        </div>
        <div class="submit pt-6">
          <input class="cursor-pointer w-[20rem] rounded-full border-[var(--Black)] border-2 bg-[var(--Gelb-2)] px-6 py-1.5 text-center shadow-sm" type="submit" value="Sign in">
        </div>
      </div>
    {% endform %}
  </div>
</section>
